@media(max-width: 440px) {
    #Inicio img {
        height: 250px;
    }
    #Produtos h4,
    #Depoimentos h4,
    #Sobre h4 {
        margin-top: 50px;
    }
    #Head img {
        width: 130px;
        height: 60px;
    }
    .container {
        text-align: center;
    }
    p {
        padding-top: 30px;
        letter-spacing: 0px;
    }
    #depoimento {
        padding-top: 20px;
        width: 80% !important;
    }
    .depoimentos {
        display: flex;
        flex-direction: column;
    }
}